* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    color: #b7b7b7;
}
body {
    line-height: 1.4;
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #332323;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    text-align: center;
}
.nav-bar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 20%;
    padding-left: 3%;
    padding-right: 10%;
    cursor: pointer;
    border-left: 1px solid white;
    margin-right: 30px;
    text-transform: uppercase;
    list-style-type: none;
}
.about {
    padding-top: 1.3%;
    padding-left: 5%;
    
}   
.names {
    padding-left: 7%;
    display: flex;
}
.last-paragraph {
    padding-top: 1.3%;
    padding-left: 5%;
}
.calculator {
    padding-left: 5%;
    padding-top: 2%;
}
.data-input {
    text-align: center;
    padding-left: 10%;
}